<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE-EDGE">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
 <link rel="stylesheet" type="text/css" href="Login.css">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title> Login </title>
 </head>
 
 <body>
   
  
   
   <main id="container">

    <div class="imagem">
   
        <img id="cabeca-imagem" src="static/images/Logo.jpeg">
       
       </div>
     
     <form id="login_form"
    >
       
       <div id="form_header">
           <h1> Login </h1>
           
         
       </div>
       
       <div id="inputs">
         
            <div class="input-box">
    
       <label for="name">
             Email
               
  <div class="input-field" >
                 <i class="fa-solid fa-envelope"></i> 

                  <input type="email" id="email" name="email" class="required" >
                
         
               
               </div>
             
             </label>
           
           
             </div>
         
                   <div class="input-box">
         
  <label for="Senha">
             Senha
            
<div class="input-field" >
             <i class="fa-solid fa-lock"></i>
                <input type="password" id="senha" name="senha" class="required">
             
         
       </div> 

     </label>
           
           
             </div> 

</div>
       
        <div class="cadastrar">
            <a href="Cadastro.html">
              Não tenho uma conta 
            </a>
          
        </div>
        
        <button type="submit" id="login_button">
          Entrar
          
        </button>
        
        
       
     </form>
     
   </main>
   
   <script src = "./script.js"> </script>
   
</body> 


</html>

