<!DOCTYPE html>
<html lang="pt-br"> xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<div>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>nome</th>
					<th>email</th>
					<th>nivelAcesso</th>
					<th>statusUsuario</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario : ${usuarios}">
					<td th:text="${usuario.id}"></td>
					<td th:text="${usuario.nome}"></td>
					<td th:text="${usuario.email}"></td>
					<td th:text="${usuario.nivelAcesso}"></td>
					<td th:text="${usuario.statusUsuario}"></td>
				</tr>
			</tbody>
		</table>


	</div>


</body>

</html>